.college-card {
  height: 180px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  padding: 7px;
  display: flex;
  background-color: #ffffff;
}

.college-card > div {
  margin: 10px;
}

.clg-left {
  height: 200px;
  width: 200px;
}

.clg-left > img {
  height: 142px;
  width: 163px;
}

.clg-right > h3 {
  font-size: 15px;
}

.clg-right > div {
  font-size: 14px;
}
.clg-right > p {
  font-size: 14px;
  color: #2a3f53;
}

.detail {
  height: 30px;
  width: 110px;
  padding: 4px;
  color: white;
  background-color: #2a3f53;
  margin: 29px 0px 0px 80px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2px;
}

.college-cards {
  display: flex;
}

.college-cards > .college-card {
  margin: 20px;
}

.college-near {
  /* height: 400px; */
  width: 90%;
  background-image: url("../assets/near-bg.png");
  border-radius: 5px;
  margin: 40px auto;
  padding: 20px;
}

.college-near > h2 {
  text-align: center;
  margin: 10px;
}

.college-near > p {
  text-align: center;
  margin: 0px 0px 0px 380px;
  width: 607px;
}

.view-more {
  display: block;
  margin: 0 auto;
}

.view-more > img {
  height: 35px;
  width: 112px;
}

/* responsive */
@media only screen and (max-width: 1100px) {
  .college-card {
    height: 140px;
    width: 307px;
    padding: 0;
  }

  .clg-left > img {
    height: 80px;
    width: 115px;
  }

  .college-near > p {
    margin: 0px 0px 0px 180px;
  }

  .clg-right > h3 {
    font-size: 12px;
  }
  .clg-right > p {
    font-size: 11px;
  }

  .college-near > p {
    margin: 0px 0px 0px 180px;
    width: 607px;
  }

  .college-cards > .college-card {
    margin: 5px;
  }

  .detail {
    height: 27px;
    width: 86px;
    margin: -12px 0px 0px 66px;
  }
}

@media only screen and (max-width: 600px){
  .college-near p {
    margin-left: 75px;
    width: 71%;
    margin-bottom: 5px;
  }
}
